.about-container {
    overflow-y: scroll;
    height: 100vh;
    width: calc(100% - 150px);
    margin-right: 150px;
    color: #252525;
    .about-title {
            margin: auto;
            margin-top: 32px;
            margin-bottom: 32px;
            text-align: center;
            overflow: hidden;
            padding: 10px;
            width: 270px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                border-top: 1px solid #307CAE;
                border-left: 1px solid #307CAE;
                background-color: transparent;
                width: 35px;
                height: 35px;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                border-top: 1px solid #307CAE;
                border-right: 1px solid #307CAE;
                background-color: transparent;
                width: 35px;
                height: 35px;
            }
            h1 {
                color: #307CAE;
                font-size: 2.5rem;
                font-weight: 400;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border-bottom: 1px solid #307CAE;
                    border-left: 1px solid #307CAE;
                    background-color: transparent;
                    width: 35px;
                    height: 35px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    border-bottom: 1px solid #307CAE;
                    border-right: 1px solid #307CAE;
                    background-color: transparent;
                    width: 35px;
                    height: 35px;
                }
            }
            p {
                margin-top: 20px;
                color: #000;
                font-size: 1.5rem;
                font-weight: 200;
            }
            
    }
    .about-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            box-shadow: 0 1px 5px #25252539;
            border-radius: 16px;
        }
    }
    .about-services {
        width: 49.999%;
            img {
                width: 100%;
                padding: 10px;
            }
    }
    .about-box {
        width: 50%;
        padding: 30px;
        > * {
            margin-bottom: 30px;
            font-size: 18px;
            font-weight: 300;
            line-height: 32px;
        }
        .box-1 {
            color: #307CAE;
            font-weight: 400;
        }
    }
}

@media (max-width: 768px) {
    .about-container {
        overflow-y:inherit;
        width: 100%;
        height: 100vh;
        margin-right: 0;
        margin-top: 120px;
        .about-title {
                margin-top: 152px;
                h1 {
                    font-size: 2rem;
                }
                p {
                    margin-top: 20px;
                    color: #000;
                    font-size: 1.2rem;
                    font-weight: 300;
                }
                
        }
        .about-flex {
            flex-direction: column;
        }
        .about-services {
            width: 100%;
        }
        .about-box {
            width: 100%;
        }
    }
}